:root {
  --color-main: hsl(215, 100%, 20%);
  --color-white-semi-transparent: hsla(0, 100%, 100%, 0.5)
}

body {
  position: relative;
  font-family: 'Chakra Petch', sans-serif;
  color: #FFFFFF;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position-x: center;
  height: 2000px;
}

/* Trick to be able to filter the background
from : https://css-tricks.com/apply-a-filter-to-a-background-image/ */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  filter: grayscale(0.5);
}

header,
main,
footer {
  position: relative;
}

/* Header */
header {
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 0.3em;
}

#header-title-and-links {
  display: flex;
  gap: inherit;
  align-items: stretch;
}

.box {
  padding: 0.9em;
  background-color: #FFFFFF11;
  vertical-align: middle;
  border-radius: 0.3em;
}

#header-title {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

h1,
h2 {
  font-size: 1.25em;
  margin: 0.25em 0;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0.5em;
}

#header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.header-links__link {
  text-decoration: none;
  color: inherit;
  font-size: 0.75em;
}

.header-links__link>img {
  width: 2em;
  margin: 0.5em;
}

/* Filter */
#filter {
  text-align: right;
  margin-left: 2em;
}

#filter-buttons {
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-evenly;
}

.filter-buttons__btn {
  background-color: #FFFFFF22;
  border: 1px solid #FFFFFF;
  border-radius: 100vmax;
  padding: 0.6em;
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  display: flex;
  gap: 0.5em;
}

.filter-buttons__btn * {
  pointer-events: none;
}

/* Inactive button */
.filter-buttons__btn:not(.filter-buttons__btn--active) {
  background-color: #FFFFFF00;
  color: var(--color-white-semi-transparent);
  border: 1px solid var(--color-white-semi-transparent);
}

.filter-buttons__btn:not(.filter-buttons__btn--active) .filter-buttons__btn__icon {
  filter: grayscale(1.0);
}

.filter-buttons__btn__icon {
  height: 1em;
}

/* Footer */
footer {
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #CCCCCC;
  text-shadow: #000000 0 0 0.5em;
}

footer a {
  color: inherit;
}


@media (max-width: 1280px) {
  body {
    background-image: url(../img/background_medium.jpg);
  }
}

@media (max-width: 640px) {
  body {
    background-image: url(../img/background_small.jpg);
  }
}
